<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Room</title>
    <link rel="stylesheet" href="createroom.css">
</head>
<body>
    <div class="container">
        <header class="row text-center">
          <div class="col logo">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Goodreads_logo.svg/2560px-Goodreads_logo.svg.png" alt="goodreads-logo" />
          </div>
        </header>
        <main class="main row">
          <div class="left col">
            <img src="https://img.freepik.com/premium-vector/young-woman-enjoy-sitting-reading-book-hygge-concept-vector-illustration_194708-2078.jpg" alt="girl-reading-a-book"/>
          </div>
          <div class="right col">
            <form class="sign-up">
              <h4>Find your next favorite book!</h4>
              <div class="mb-3">
                 <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Enter your email">
              </div>
              <div class="mb-3">
                 <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Create a password">
              </div>
              <button type="submit" class="btn submit-btn">Create account</button>
            </form>
            <p class="hr-lines"> OR </p>
            <div class="social-sign-up">
              <button class="btn social"><i class="fa-brands fa-google"></i> Sign up with Google</button>
            </div>
            <div class="sign-in">
              <p>Already have an account? <a href="#">Log in</a></p>
            </div>
          </div>
        </main>
      </div>
        
</body>
</html>