<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Room</title>
    <link rel="stylesheet" href="createroom.css">
    <link rel="logo" href="/images/Logo.png">
</head>
<body>
    <div class="container">
        <header class="row text-center">
          <div class="col logo">
            <img src="/images/Logo.png" alt="clicktalk-logo" />
          </div>
          <h1>Click Talk</h1>
        </header>
        
        <div class="main row">

            <div class="left">
              <video src="/images/video1.mp4" autoplay muted></video>
            </div>
  
            <div class="right">
              <form class="sign-up" action="/room" method="get">
                <h4>Create Your Room</h4>
                <div class="mb-3 input-container">
                  <input type="text" name="name" id="input" class="input" >
                  <label for="name" class="form-label label">Your Name</label>
                  <div class="underline"></div>
                </div>
                <div class="mb-3 input-container">
                  <input type="text" name="room-name" id="input" class="input" >
                  <label for="room-name" class="form-label label">Room Name</label>
                  <div class="underline"></div>
                </div>
                <button type="submit" class="btn submit-btn">Go to Room →</button>
              </form>
  
            </div>
          
          </div>


    </div>
        
</body>
</html>