<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meeting Web</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <div class="page1">
        <div class="nav">
            <div class="part1">
                <img src="images/Logo.png" alt="">
            <h2>Click Talk</h2>
            </div>
            <div class="part2">
                <form action="/create" method="get" class="part2">
                    <button>Create Room</button>
                </form>
            </div>
        </div>
        <div class="main">
            <div class="m1">
                <h1>Interactive Chat & Streaming</h1>
            </div>
            <div class="m2">
                <img src="images/graph.png" alt="" class="svg">
                <img src="/images/img1.png" alt="">
            </div>
        </div>
        <div class="footer">
            <p>© 2023 Click Talk. All rights reserved.</p>
        </div>
    </div>
</body>
</html>