<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Video Calling Website UI Design</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/room.css">
    </head>
    <body>
        <div class="header">
            <nav>
                <img src="/images/Logo.png" class="logo">
                <ul>
                    <li><img src="https://i.postimg.cc/L8zxQBhv/live.png" class="active"></li>
                    <li><img src="https://i.postimg.cc/JnggC78Q/video.png"></li>
                    <li><img src="https://i.postimg.cc/vmb3JgVy/message.png"></li>
                    <li><img src="https://i.postimg.cc/qR7Q7PwZ/notification.png"></li>
                    <li><img src="https://i.postimg.cc/k4DZH604/users.png"></li>
                    <li><img src="https://i.postimg.cc/v84Fqkyz/setting.png"></li>
                </ul>
            </nav>
            <div class="container">
                <!-- <div class="top-icons">
                    <img src="https://i.postimg.cc/cCpcXrSV/search.png">
                    <img src="https://i.postimg.cc/Pqy2TXWw/menu.png">
                </div> -->
                <div class="row">
                    <div class="col-1">
                        <img src="https://i.postimg.cc/521rVkhD/image.png" class="host-img">
                        <div class="contarols">
                            <img src="https://i.postimg.cc/3NVtVtgf/chat.png">
                            <img src="https://i.postimg.cc/BQPYHG0r/disconnect.png">
                            <img src="https://i.postimg.cc/fyJH8G00/call.png" class="call-icon">
                            <img src="https://i.postimg.cc/bJFgSmFY/mic.png">
                            <img src="https://i.postimg.cc/Y2sDvCJN/cast.png">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="joined">
                            <p>People Joined</p>
                            <div>
                                <img src="https://i.postimg.cc/WzFnG0QG/people-1.png">
                                <img src="https://i.postimg.cc/fRhGbb92/people-2.png">
                                <img src="https://i.postimg.cc/02mgxSbK/people-3.png">
                                <img src="https://i.postimg.cc/K8rd3y7Z/people-4.png">
                                <img src="https://i.postimg.cc/HWFGfzsC/people-5.png">
                            </div>
                        </div>
                        <div class="invite">
                            <p>Invite More People</p>
                            <div>
                                <img src="https://i.postimg.cc/7LHjgQXS/user-1.png">
                                <img src="https://i.postimg.cc/q71SQXZS/user-2.png">
                                <img src="https://i.postimg.cc/h4kwCGpD/user-3.png">
                                <img src="https://i.postimg.cc/GtyfL0hn/user-4.png">
                                <img src="https://i.postimg.cc/FFd8gSbC/user-5.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>