*{
  margin: 0;
  padding: 0;
}

body {
  background-color: #0D1321;
  font-family: 'Ubuntu', sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem;
  color: white;
   img {
     object-fit: contain;
  }
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
}

.box {
  height: 30rem;
  width: 45rem;
  display: flex;
  justify-content: center;  
  align-items: center;
  background-color: white;
  flex-direction: row;
  border-radius: 2rem;
  gap: 2rem;
}

.Left{
  display: flex;
  align-items: center;
  justify-content: center;
}

video{
  height: 25rem;
  border-radius: 25px;
}

.right{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign-up{
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

.submit-btn{
  width: fit-content;
  border: none;
  padding: 0.5em 0.7em;
  background-color: #3e5c76;
  color: white;
  font-size: 17px;
  border-radius: 1em;
  text-align: center;
}

.submit-btn:hover{
  box-shadow: 2px 2px 4px #0D1321;
}

h4{
  font-size: 1.4em;
}

.logo img{
  height: 5rem;
}

@media(width< 800px){

  .box{
    margin: 2rem;
  }
}

@media(width< 750px){
  video{
    display: none;
  }
  .box{
    border-radius: 2rem;
    flex-direction: column;
  }
}

.input-container {
  position: relative;
  /* margin: 50px auto; */
  width: 200px;
  margin: 10px 0;
}

.input-container input[type="text"] {
  font-size: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
}

.input-container .label {
  position: absolute;
  top: 0;
  left: 0;
  color: #ccc;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-container input[type="text"]:focus ~ .label,
.input-container input[type="text"]:valid ~ .label {
  top: -20px;
  font-size: 16px;
  color: #333;
}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #333;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input-container input[type="text"]:focus ~ .underline,
.input-container input[type="text"]:valid ~ .underline {
  transform: scaleX(1);
}